@model CurriculoMVC.Models.Curriculo

@{
    ViewData["Title"] = "Detalhes do Currículo";
    Layout = "_Layout";

}

<h1>Detalhes do Currículo</h1>

<div>
    <h4>Currículo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nome
        </dt>
        <dd class="col-sm-10">
            @Model.Nome
        </dd>
        <dt class="col-sm-2">
            CPF
        </dt>
        <dd class="col-sm-10">
            @Model.CPF
        </dd>
        <dt class="col-sm-2">
            Endereço
        </dt>
        <dd class="col-sm-10">
            @Model.Endereco
        </dd>
        <dt class="col-sm-2">
            Telefone
        </dt>
        <dd class="col-sm-10">
            @Model.Telefone
        </dd>
        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Model.Email
        </dd>
        <dt class="col-sm-2">
            Pretensão Salarial
        </dt>
        <dd class="col-sm-10">
            @Model.PretensaoSalarial
        </dd>
        <dt class="col-sm-2">
            Cargo Pretendido
        </dt>
        <dd class="col-sm-10">
            @Model.CargoPretendido
        </dd>
        <dt class="col-sm-2">
            Formação Acadêmica
        </dt>
        <dd class="col-sm-10">
            @Model.FormacaoAcademica
        </dd>
        <dt class="col-sm-2">
            Experiências Profissionais
        </dt>
        <dd class="col-sm-10">
            @Model.ExperienciasProfissionais
        </dd>
        <dt class="col-sm-2">
            Idiomas
        </dt>
    </dl>
</div>